In [1]:
import pandas as pd
import random

In [9]:
data = {'Column1': [1, 2, 3],
        'Column2': [4,5,6]}
original_data = pd.DataFrame(data)
# Number of new rows to generate per existing row
num_new_rows = 2

new_data = []

for _, row in original_data.iterrows():
    for _ in range(num_new_rows):
        new_row = row.copy()
        # Apply some random variations to the new row's data
        new_row['Column1'] += random.randint(-1, 1)
        new_row['Column2'] += random.randint(-1, 1)
        new_data.append(new_row)

new_data_df = pd.DataFrame(new_data)
new_data_df

   Column1  Column2
0        0        5
0        1        3
1        1        4
1        1        6
2        2        7
2        4        7

In [14]:
import random

# existing data
existing_data = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 22}
]

# Number of additional rows you want to generate
num_additional_rows = 5

# Generate more rows based on existing data
new_data = []
for _ in range(num_additional_rows):
    # Create a new row based on the existing data
    existing_row = random.choice(existing_data)
    new_row = {
        "name": existing_row["name"],
        "age": existing_row["age"] + random.randint(-5, 5)  # Add or subtract a random age difference
    }
    new_data.append(new_row)

new_data

[{'name': 'Alice', 'age': 24},
 {'name': 'Charlie', 'age': 22},
 {'name': 'Charlie', 'age': 18},
 {'name': 'Bob', 'age': 34},
 {'name': 'Charlie', 'age': 26}]

In [16]:
# Example input data
data = [
    {'name': 'Alice', 'age': 25, 'city': 'New York'},
    {'name': 'Bob', 'age': 30, 'city': 'Los Angeles'},
]

# Generate more rows based on previous data
new_data = []

for i in range(3):
    for person in data:
        new_person = dict(person)  # Create a copy of the existing data
        new_person['age'] += i * 5  # Modify the age, for example
        new_data.append(new_person)

# Display the new data
for person in new_data:
    print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'name': 'Bob', 'age': 30, 'city': 'Los Angeles'}
{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Bob', 'age': 35, 'city': 'Los Angeles'}
{'name': 'Alice', 'age': 35, 'city': 'New York'}
{'name': 'Bob', 'age': 40, 'city': 'Los Angeles'}